<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">KGB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_mission')}}">Missions</a>
        </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_agent')}}">Agents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact')}}">Contacts</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_target')}}">Target</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_skill')}}">Skills</a>
        </li>  
         <li class="nav-item">
          <a class="nav-link" href="{{ path('app_country')}}">Countries</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_hideout')}}">Hideouts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Logout</a>
        </li>   
        <form id="js-logout-form" action="{{path('app_logout')}}" method="post" style="display:none">
          <input type="hidden" name="_csrf_token" value="{{csrf_token('logout')}}">
        </form>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>