{% extends "layouts/base.html.twig" %}
{% block title 'Countries' %}

{% block body %}
  <div class="container text-center">
   <div class="col-12 mx-auto">
    <h1 class="mt-4 text-center">Missions Types</h1>

    <table class="mt-5 table table-hover text-center">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
    {% for mission in missions_gender %}
        <tr class="table-primary">
        <td>{{mission.id}}</td>
        <td>{{mission.name}}</td>
        <td><a href="{{ path('app_mission_gender_show', {id: mission.id})}}"<i class="btn btn-dark fa-solid fa-plus rounded"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
       
    </table>
     <div class="d-flex justify-content-center">
    {% do missions_gender.setPageRange(2) %}
    {{knp_pagination_render(missions_gender, 'layouts/pagination.html.twig')}}
  </div>
      <a href="{{ path('app_mission_gender_create')}}" class="btn rounded btn-info">Add Type</a></td>
   </div>
  </div>
{% endblock %}