{% extends "layouts/base.html.twig" %}
{% block title %}{{ mission_gender.name }}{% endblock %}

{% block body %}
  <div class="container">
     <div class="col-12 mx-auto">
    <h1 class="mt-4 text-center">Mission Type</h1>

    <table class="mt-5 table table-hover text-center">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
        <td>{{mission_gender.id}}</td>
        <td>{{mission_gender.name}}</td>
        <td><a href="{{ path('app_mission_gender')}}" class="btn btn-sm btn-primary">Go Back</a>
            <a href="{{path('app_mission_gender_edit', {id: mission_gender.id})}}" class="btn btn-sm btn-dark">Edit</a>
            <a href="#" onclick="event.preventDefault(); confirm('Are You sure?')&& document.getElementById('js-mission-gender-delete-form').submit();" class="btn btn-sm btn-danger">Delete</a>   

           {% include "mission_gender/_delete_form.html.twig" %}</td>
        </tr>
    </tbody>
       
    </table>
</div>
  </div>

{% endblock %}