{% extends "layouts/base.html.twig" %}
{% block title 'Missions' %}

{% block body %}
  <div class="container text-center">
   <div class="col-12 mx-auto">
    <h1 class="mt-4 text-center">Missions</h1>

    <table class="mt-5 table table-hover text-center">
    <thead>
        <tr class="table-secondary">
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Country</th>
        <th scope="col">Infos</th>
        </tr>
    </thead>
    <tbody>
    {% for mission in missions %}
        <tr class="table-dark">
        <td>{{mission.id}}</td>
        <td>{{mission.title}}</td>
        <td>{{mission.country.name}}</td>
        <td><a href="{{ path('app_mission_show', {id: mission.id})}}"<i class="btn btn-info fa-solid fa-plus rounded"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
       
    </table>
    {% if app.user %}
      <a href="{{ path('app_mission_create')}}" class="btn rounded btn-info">Add Mission</a><br>
      <a href="{{ path('app_mission_gender')}}" class="mt-3 btn rounded btn-warning">Add Type of Mission</a>
    {% endif %}
      

   </div>
  </div>
{% endblock %}