{% extends "layouts/base.html.twig" %}
{% block title 'Contacts' %}

{% block body %}
  <div class="container text-center">
   <div class="col-12 mx-auto">
    <h1 class="mt-4 text-center">Our Contacts</h1>

    <table class="mt-5 table table-hover text-center">
    <thead>
        <tr class="table-secondary">
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Infos</th>
        </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr class="table-dark">
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td><a href="{{ path('app_contact_show', {id: contact.id})}}"<i class="btn btn-warning fa-solid fa-plus rounded"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
       
    </table>
    <div class="d-flex justify-content-center">
    {% do contacts.setPageRange(2) %}
    {{knp_pagination_render(contacts, 'layouts/pagination.html.twig')}}
  </div>
      <a href="{{ path('app_contact_create')}}" class="btn rounded btn-warning">Add Contact</a></td>
   </div>
  </div>
{% endblock %}