{% extends "layouts/base.html.twig" %}
{% block title %}{{ contact.fullName }}{% endblock %}

{% block body %}
  <div class="container">
      <div class="mt-4 col-md-12 mx-auto card border-dark rounded" style="max-width: 18rem;">
   <img src="{{ (contact.imageName ? vich_uploader_asset(contact) : asset('img/profildefault.webp')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ contact.fullName }}" class=" w-100"/>
  <div class="card-body">
    <h4 class="card-title">{{ contact.fullName }}</h4>
    <h5 class="mb-4 text-muted"> {{contact.alias}}</h5> 
        <p>Birthday : {{contact.birthday|date('d/m/Y')}} <br>
        Specialities : 
          <br>
        Nationality : {{contact.nationality}}
     </p>
  
  <div class="ms-3">
    <a href="{{ path('app_contact')}}" class="btn btn-sm btn-primary">Go Back</a>
    <a href="{{path('app_contact_edit', {id: contact.id})}}" class="btn btn-sm btn-dark">Edit</a>
    <a href="#" onclick="event.preventDefault(); confirm('Are You sure?')&& document.getElementById('js-contact-delete-form').submit();" class="btn btn-sm btn-danger">Delete</a>   
  </div>
    {% include "contact/_delete_form.html.twig" %}
</div>
  </div>

{% endblock %}