{% extends "layouts/base.html.twig" %}
{% block title %}{{ target.fullName }}{% endblock %}

{% block body %}
  <div class="container">
      <div class="mt-4 col-md-12 mx-auto card border-dark rounded" style="max-width: 18rem;">
   <img src="{{ (target.imageName ? vich_uploader_asset(target) : asset('img/profildefault.webp')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ target.fullName }}" class=" w-100"/>
  <div class="card-body">
    <h4 class="card-title">{{ target.fullName }}</h4>
    <h5 class="mb-4 text-muted"> {{target.alias}}</h5> 
         <p><span class=""> Birthday :</span> {{target.birthday|date('d/m/Y')}} <br>
       <p><span class="" > Nationality :</span> {{target.nationality}} </p>
     
  
  <div class="ms-3">
    <a href="{{ path('app_target')}}" class="btn btn-sm btn-primary">Go Back</a>
    <a href="{{path('app_target_edit', {id: target.id})}}" class="btn btn-sm btn-dark">Edit</a>
    <a href="#" onclick="event.preventDefault(); confirm('Are You sure?')&& document.getElementById('js-target-delete-form').submit();" class="btn btn-sm btn-danger">Delete</a>   
  </div>
    {% include "target/_delete_form.html.twig" %}
</div>
  </div>

{% endblock %}